@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}